body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

header {
	width: 100%;
	height: 15%;
	background-color: #CDC2A5;
	position: fixed;
	padding: 0.2em;
}

nav {
	height: 100%;
	width: 20%;
	top: 15%;
	position: fixed;
	background-color: #F7F7F7;
}

section {
	top: 15%;
	left: 20%;
	position: absolute;
}

