section {
	padding: 0;
}
section div h2 {
	margin: 0;
	padding: .5em 2em !important;
}

section div.head {
	padding: .5em 4em;
	background-color: #F1F1F1;
}

.product-summary {
	padding: 2em !important;
	/*border-right: 1px solid gray;*/
}

.product-detail {
	margin-bottom: 2em;
	padding: 0 2em 2em;
	border-left: 0;
	border-bottom: 1px solid gray;
}

.product-img {
	margin-left: -10px;
}

.product-name {
	font-size: 1.5em;
	margin-bottom: .5em;
}

.product-price {
	font-size: 1.5em;
	margin-top: .5em;
}

.product-price span {
	font-size: .7em;
	float: right;
}

.order-total {
	position: relative;
	padding: 2em 0;
}

.order-summary {
	width: 95%;
	border: 1px solid gray;
	margin: auto;
}

div.order-summary p {
	padding: 0 3em;
}

div.order-summary h4 {
	border-top: 2px solid gray;
	color: #B12700;
	padding: .5em 2em;
}

div.order-summary span {
	float: right;
}

div.buy-now {
	background-color: #F6CD00;
	margin: 1em auto;
	color: black;
}

div.buy-now:hover {
	background-color: #E8C202;
}

div.order-summary a:hover {
	text-decoration: none;
}

.success {
	color: green;
}

/*
	shipping detail page
*/


.lightOut {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,.5);
	left: 0;
	/*display: none;*/
	z-index: 1;
}

span.closed {
	position: absolute;
	right: .5em;
	top: .3em;
	font-size: 1.2em;
	cursor: pointer;
	color: gray;
	font-weight: bold;
}

span.closed:hover {
	color: black;
}

h3 {
	text-align: center;
	margin-bottom: 1em;
	background-color: white;
	padding: 1em 0;
}

form.customer-login {
	padding: 2em 5em;
	display: block;
	background-color: #CDC2A5;
	position: fixed;
	left: 50%;
	top: 50%;
}

p {
	text-align: center;
	margin-bottom: 1em;
}

form.customer-login input[type='text'],form.customer-login input[type='email'],
form.customer-login input[type='password'] {
	width: 20em;
	padding: .2em .5em;
	margin-bottom: 1.2em;
}


form.customer-login input[type='submit'] {
	font-size: 1.2em;
	width: 14em;
	margin: 1em auto 0em;
	background-color: #F6CD00;
}

form.customer-login input[type='submit']:hover { 
	background-color: #E8C202;
}

form.customer-login div {
	float: left;
}

div.left {
	padding-right: 4em;
	width: 400px;
	
}

div.right {
	width: 400px;
	border-left: 1px solid gray;
	padding: 2em 4em 4em 4em;
}

/*
	Shipping page
*/
form.shipping {
	padding: 2em 0 2em 8em;
}

form.shipping input[type='text'], form.shipping .address {
	width: 500px;
	padding: .5em 1em;
}

form.shipping .address {
	width: 500px;
	height: 100px;
	resize: none;
}

form.shipping div {
	margin-bottom: 1em;
}
