html {
	width: 100%;
	height: 100%;
}

body {
	top: 12%;
	background-color: #F1F1F1;
}

header {
	background-color: #CDC2A5;
	width: 100%;
	padding: 0.5em;
	position: fixed;
	top: 0;
	z-index: 1;
}

header img.logo {
	margin-left: 9em;
}

header input[type='text'] {
	width: 600px;
	padding: .25em 0 .25em 1em;
	margin-left: 3em;
}

header input[type='button'] {
	margin-left: -4px;
	margin-top: -3px;
	border-radius: 0;
	background-color: #F6CD00;
	color: black;
	border-color: #F6CD00;
}

.cart {
	padding: .3em .4em;
	font-size: 1.3em;
	border: 1px solid black;
	width: 3em;
	text-align: center;
	display: inline-block;
	margin-left: 1.5em;
	position: relative;
}

.cart:hover {
	cursor: pointer;
	background-color: #F6CD00;
}

.cart span {
	background-color: red;
	color: white;
	position: absolute;
	display: block;
	width: 1.5em;
	height: 1.5em;
	font-size: .7em;
	border-radius: 1em;
	left: 2.4em;
	bottom: 1.6em;
	display: none;
}


div.account {
	margin-left: 1.5em;
	padding: .7em;
}

div.account:hover {
	cursor: pointer;
	background-color: #F6CD00;
}

div.account a {
	color: black;
}

div.account a:hover {
	text-decoration: none;
}

ul.dropdown-menu li a:hover {
	background-color: #CDC2A5 !important;
}

nav {
	position: fixed !important;
	height: 100%;
	top: 11%;
	background-color: #F7F7F7;
}

nav a {
	color: black;
}

nav a:hover {
	text-decoration: none;
	color: black;
}

nav div {
	padding: 1em 0;
	border-bottom: 1px solid #B5A373;
}

nav div h4 {
	font-size: 1.2em; padding-left: 1em;
}

nav div h4 span { font-size: 0.5em; opacity: .5; padding: 0.3em; right: 1.5em;
		border: 1px solid black; border-radius: 50%; }

nav div:hover {
	background-color: #F6CD00;
	cursor: pointer;
}

section {
	min-height: 500px;
	margin-top: 6%;
	margin-left: 16.5%;
	padding: 3em;
	padding-top: 2em;
}

#carousel-product {
	width: 950px;
	margin: auto;
}

div.item img {
	min-height: 300px;
	min-width: 730px;
}

.product-thumbnail-section {
	background-color: white;
	padding: 2em;
	padding-bottom: 5em;
}

.product-thumbnail-section h2 {
	padding-bottom: 0.7em;
	border-bottom: 1px solid black;
	clear: both;
}

div.product-row {
	float: left;
	padding: 1em;
	position: relative;
	width: 100%;
}

div.product-row div.book-thumb {
	width: 200px;
	height: 250px;
	padding: 1em 1em;
	float: left;
	text-align: center;
}

div.view-all {
	padding: 2em 1em;
	float: left;
	position: absolute;
	top: 60px;
	right: 0;
	border: 1px solid gray;
}

div.product-row div:hover {
	border: 2px solid #F6CD00;
}

p.info {
	padding: 1em 0em;
	margin-bottom: 0;
}

p.price {
	font-size: 1.1em;
	color: #A10000;
}

footer {
	margin-top: 2em;
	margin-left: 16.5%;
}

footer div {
	padding: 1em 2em 0.3em;
	background-color: white;
}

div.footer-nav div h6 {
	font-size: 1.2em;
	color: #B5A373;
}

.footer ul {
	margin-top: 4em;
	text-align: center;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 0.6em 0;
}

.footer li{
	display: inline;
	margin-left: 2em;
}

.footer li:last-child { color: gray; }


/* 
	Light Out
*/
.lightOut {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,.5);
	left: 0;
	display: none;
	z-index: 1;
}

span.closed {
	position: absolute;
	right: .5em;
	top: .3em;
	font-size: 1.2em;
	cursor: pointer;
	color: gray;
	font-weight: bold;
}

span.closed:hover {
	color: black;
}

form.customer-login h3 {
	text-align: center;
	margin-bottom: 1em;
	background-color: white;
	padding: 1em 0;
}

form.customer-login {
	padding: 2em 5em;
	background-color: #CDC2A5;
	position: fixed;
	top: 15%;
	left: 15%;
}

form.customer-login p {
	text-align: center;
	margin-bottom: 1em;
}

form.customer-login input[type='text'],form.customer-login input[type='email'],
form.customer-login input[type='password'] {
	width: 20em;
	padding: .2em .5em;
	margin-bottom: 1.2em;
}


form.customer-login input[type='submit'] {
	font-size: 1.2em;
	width: 14em;
	margin: 1em auto 0em;
	background-color: #F6CD00;
}

form.customer-login input[type='submit']:hover { 
	background-color: #E8C202;
}

form.customer-login div {
	float: left;
}

div.left {
	padding-right: 4em;
	width: 400px;
	
}

div.right {
	width: 400px;
	border-left: 1px solid gray;
	padding: 2em 4em 4em 4em;
}
