
div.products {
	background-color: white;
	float: left;
	margin-bottom: 2em;
}

div.products h1 {
	padding: 0.5em 0;
	margin-left: 1em;
	border-bottom: 1px solid gray;
	width: 90%;
}

div.products-display div {
	float: left;
}

div.product-thumbnail {
	width: 226px;
	height: 350px;
	text-align: center;
	padding: 0 4px;
	margin: 8px;
}

div.product-thumbnail:hover {
	border: 2px solid #F6CD00;
}

div.product-thumbnail p.name {
	margin-top: 1.5em;
	font-size: 1.1em;
}

p.creator {
	font-size: 0.9em;
	margin-top: -1em;
	color: gray;
} 

p.price {
	color: black;
	font-size: 1.3em;
	margin-top: 1em;
}

footer {
	clear: both;
}

/* computer page */

div.product-thumbnail ul {
	text-align: left;
}

div.product-thumbnail ul li {
	color: gray;
	font-size: .9em;
	margin-left: 2em;
}


