div.products {
	background-color: white;
	float: left;
	margin-bottom: 2em;
}

div.products h1 {
	padding: 0.5em 0;
	margin-left: 1em;
	border-bottom: 1px solid gray;
	width: 90%;
}

div.products-display div {
	float: left;
}

div.product-thumbnail {
	width: 226px;
	height: 350px;
	text-align: center;
	padding: 0 4px;
	margin: 8px;
}

div.product-thumbnail:hover {
	border: 2px solid #F6CD00;
}

div.product-thumbnail p.name {
	margin-top: 1.5em;
	font-size: 1.1em;
}

p.creator {
	font-size: 0.9em;
	margin-top: -1em;
	color: gray;
} 

p.price {
	color: black;
	font-size: 1.3em;
	margin-top: 1em;
}

footer {
	clear: both;
}

/* computer page */

div.product-thumbnail ul {
	text-align: left;
}

div.product-thumbnail ul li {
	color: gray;
	font-size: .9em;
	margin-left: 2em;
}

/*
	My Order page
*/
div.my-order {
	background-color: white;
	padding: 1em 3em;
	min-height: 500px;
	margin-bottom: -2em;
}

div.my-order h2 {
	padding-bottom: .5em;
	margin-bottom: 1em;
	border-bottom: 1px solid black;
}

div.date {
	border-bottom: 0;
	display: inline-block;
	padding: .8em 2em;
	position: relative;
	margin-bottom: -.05em;
	background-color: #CDC2A5;
	color: black;
	font-size: 1.3em;
}

.less_important {
	font-size: .8em;
	opacity: .7;
}

.less_important span {
	font-size: 2em;
	opacity: .3;
	margin: 0 1em;
}


div.order {
	border: 1px solid #CDC2A5;
	margin-bottom: 6em;
	padding: 2em;
	background-color: white;
}

div.status {
	border: 1px solid black;
	text-align: center;
	padding: .5em 0;
	margin-bottom: 2em;
}
div.product-img {
	text-align: center;
}

div.col-md-8 .row {
	margin-bottom: 3em;
}

div.total {
	text-align: center;
}

.more {
	background-color: #F6CD00;
	display: block;
	margin: 0 auto 2em;
	width: 40%;
}

.total-order {
	font-size: 1.8em;
	font-family: tahoma;
	color: #B12700;
}


