
<<<<<<< HEAD
section.main-section div {
	padding: 1em 4em;
	margin-top: 4%; 
	height: 700px;
	background-color: white;
}

section.main-section div div {
	width: 95%;
	height: 80%;
	border: 1px solid black;
}
=======
>>>>>>> master
